doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
    title #{title} | Digital Magazine
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,500;14..32,600;14..32,700;14..32,800&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/admin.css")
    link(rel="stylesheet", href="/css/components.css")
    link(rel="stylesheet", href="/css/animations.css")
    
    //- Additional page-specific styles
    block styles
  body
    block content
    
    //- Toast container
    div#toastContainer.toast-container
    
    script(src="/js/admin.js")
    block scripts